<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Camara</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Muestra el resultado del escaneo si existe -->
  <ion-card *ngIf="scanResult">
    <ion-card-header>Resultado del QR</ion-card-header>
    <ion-card-content>{{ scanResult }}</ion-card-content>
  </ion-card>
</ion-content>



<ion-header>
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="scanQR()">Escanear Código QR</ion-button>
  <div *ngIf="scanResult">
    <h2>Resultado:</h2>
    <p>{{ scanResult }}</p>
  </div>
</ion-content>
