.login-grid {
    height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #002b70 0%, #000000 100%);
  }
  
  ion-card {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    animation: fadeIn 0.6s ease-in-out;
    justify-content: center;
    margin-top: 100px;
  }
  
  .login-icon {
    font-size: 5rem;
    color: #000000;
    animation: pulse 5s infinite;
  }
  
  .login-button {
    margin-top: 20px;
    border-radius: 8px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .login-background {
    background: url('/assets/img/fondo-geometrico.jpg') no-repeat center center / cover;
  }
  
  .login-card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
  }
  
  .input-item {
    margin-bottom: 25px;
  }
  
  .login-button {
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    border-radius: 5px;
    border: 2px solid #6862ff;
    box-shadow: 0 5px 15px rgba(110, 69, 226, 0.5);
  }
  
  .register-button {
    background: #fff;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #6e45e2;
    margin-top: 10px;
    box-shadow: 0 5px 15px rgba(110, 69, 226, 0.5);
  }
  