/* Fondo */
.login-grid {
  height: 100%;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  background-color: #1E2D38; /* Fondo oscuro */
  padding: 20px;
}

/* Contenedor del logo */
.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

/* Imagen del logo */
.logo-img {
  max-width: 120px; /* Ajusta el tamaño del logo */
  height: auto;
  border-radius: 12px; /* Bordes redondeados para estética */
  margin-top: -100px;  /* Ajusta este valor para mover el logo hacia arriba */
}

/* Card */
ion-card {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #F5F5F5; /* Fondo claro */
  padding: 20px;
}

/* Inputs */
.input-item {
  margin-bottom: 20px;
  --background: #FFFFFF;
  border-radius: 8px;
  padding: 5px 10px;
  --highlight-color-focused: #FFAB40; /* Naranja suave */
}

/* Iconos en los inputs */
ion-icon {
  color: #FFAB40; /* Naranja pastel */
}

/* Botón de inicio de sesión */
.login-button {
  --background: #81D4FA; /* Azul claro */
  color: #FFFFFF; /* Texto blanco */
  border-radius: 8px;
  margin-top: 20px;
}

/* Botón de registro */
.register-button {
  --background: #FFD180; /* Naranja pastel */
  color: #FFFFFF; /* Texto blanco */
  border-radius: 8px;
  margin-top: 10px;
}

/* Enlace de contraseña olvidada */
.forgot-password-link a {
  color: #81D4FA; /* Azul claro */
  font-weight: bold;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
}

/* Fondo de contenido */
.login-background {
  background: linear-gradient(135deg, #1E2D38, #263238); /* Fondo elegante */
}
