<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">¡Bienvenido!</ion-title>  </ion-toolbar>
</ion-header>

<ion-content class="login-background">
  <ion-grid class="login-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="login-card">
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <ion-icon name="person-circle-outline" class="login-icon"></ion-icon>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form (ngSubmit)="onLogin()">
              
              <!-- Correo -->
              <ion-item class="input-item">
                <ion-icon name="mail-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="credentials.username" name="email" type="text" placeholder="Correo" required></ion-input>
              </ion-item>

              <!-- Contraseña -->
              <ion-item class="input-item">
                <ion-icon name="key-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="credentials.password" name="password" type="password" placeholder="Contraseña" required></ion-input>
              </ion-item>

              <!-- Botón Iniciar sesión -->
              <ion-button expand="full" class="login-button" type="submit">Iniciar Sesión</ion-button>
              
            </form>

            <!-- Registro y Olvidé Contraseña -->
            <div class="auth-links">
              <ion-button expand="full" class="register-button" (click)="goToRegistro()">¿No tienes cuenta? Regístrate</ion-button>
              <div class="forgot-password-link">
                <a (click)="goToForgotPassword()">¿Olvidaste tu contraseña?</a>
              </div>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
