<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">categorias</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
-->
<ion-content>
<!--   <div class="tabs">
    <span class="tab active">Para ti</span>
    <span class="tab">Los más populares</span>
    <span class="tab active"><ion-button>Categorias</ion-button></span>
    <span class="tab">Colecciones</span>
  </div>
-->
  <div class="section">
    <h2 class="ion-text-center">Categorias que te podrian interesar</h2>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="2">
          <ion-card (click)="goToTab1()">
            <img src="/assets/Ciencia y Tecnología.jpg"/>
            <ion-card-content>
              <h3>Ciencia y Tecnología</h3>
              <p></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2">
          <ion-card>
            <img src="/assets/Clásicos.jpg"/>
            <ion-card-content>
              <h3>Clásicos</h3>
              <p>a</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="section">
    <h2></h2>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="2">
          <ion-card>
            <img src="/assets/Ficción.jpg"/>
            <ion-card-content>
              <h3>Ficción</h3>
              <p>a</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2">
          <ion-card>
            <img src="/assets/Historia.jpg" />
            <ion-card-content>
              <h3>Historia</h3>
              <p>a</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="section">
    <h2></h2>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="1">
          <ion-card>
            <img src="/assets/Literatura Infantil y Juvenil.jpg" />
            <ion-card-content>
              <h3>Literatura Infantil y Juvenil</h3>
              <p>a</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="1">
          <ion-card>
            <img src="/assets/No Ficción.jpg"/>
            <ion-card-content>
              <h3>No Ficcion</h3>
              <p>a</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-center">
      <ion-button>Inicio</ion-button>
      <ion-button>Explora</ion-button>
      <ion-button>Mis libros</ion-button>
      <ion-button>Perfil (que)</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

