<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section">
    <h1 class="ion-text-center">Categorías que te podrían interesar</h1>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="2">
          <ion-card (click)="goToTab1()">
            <img src="/assets/Ciencia y Tecnología.jpg"/>
            <ion-card-content>
              <h3>Ciencia y Tecnología</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2">
          <ion-card>
            <img src="/assets/Clásicos.jpg"/>
            <ion-card-content>
              <h3>Clásicos</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2></h2>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="2">
          <ion-card>
            <img src="/assets/Ficción.jpg"/>
            <ion-card-content>
              <h3>Ficción</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2">
          <ion-card>
            <img src="/assets/Historia.jpg"/>
            <ion-card-content>
              <h3>Historia</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2></h2>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="2">
          <ion-card>
            <img src="/assets/Literatura Infantil y Juvenil.jpg"/>
            <ion-card-content>
              <h3>Literatura Infantil y Juvenil</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2">
          <ion-card>
            <img src="/assets/No Ficción.jpg"/>
            <ion-card-content>
              <h3>No Ficción</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-center">
      <ion-button routerLink="/tabs/tab1">Inicio</ion-button>
      <ion-button routerLink="/mis-libros">Mis libros</ion-button>
      <ion-button routerLink="/user-profile">Perfil</ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
