/* Fondo general */
.content-background {
  background: linear-gradient(135deg, #1E2D38, #263238);
  
}

/* Buscador */
ion-searchbar {
  --background: #FFFFFF;
  --color: #000;
  margin: 8px;
  border-radius: 10px;
  margin-top: 20px;
  flex: 1;
}

.large-icon {
  color: #FFAB40;
  font-size: 30px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.cam-button {
  --background: #FFD180;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 5px;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #FFFFFF;
  font-weight: 500;
}

.tab {
  padding: 5px;
  color: #888;
}

.active {
  color: #FFAB40;
  border-bottom: 2px solid #FFAB40;
}

/* Secciones */
.section {
  padding: 10px;
  background-color: #1E2D38; /* Fondo oscuro */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  h2 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #81D4FA;
  }
}

/* Tarjetas */
.custom-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Estilo del footer */
ion-footer {
  ion-toolbar {
    --background: #FFFFFF;
    display: flex;
    justify-content: space-around;
  }

  ion-button {
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
}
