/* Fondo */
.register-background {
  background: linear-gradient(135deg, #1E2D38, #263238); /* Fondo elegante */
  height: 100%;
}

/* Grid */
.register-grid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Card */
.register-card {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #F5F5F5; /* Fondo claro */
  padding: 20px;
}

/* Inputs */
.input-item {
  margin-bottom: 20px;
  --background: #FFFFFF;
  border-radius: 8px;
  padding: 5px 10px;
  --highlight-color-focused: #FFAB40; /* Naranja pastel */
}

ion-icon {
  color: #FFAB40; /* Naranja pastel */
}

/* Botones */
.signup-button {
  --background: #81D4FA; /* Azul claro */
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 20px;
  font-weight: bold;
}

.register-button {
  --background: #FFD180; /* Naranja pastel */
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: bold;
}

/* Checkbox y términos */
.terms-label {
  font-size: 14px;
  color: #81D4FA;
}

.terms-text {
  font-size: 12px;
  color: #888888;
  margin-top: 10px;
}
