<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sign up for a free account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="register-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card class="register-card">
          <ion-card-content>
            <form (ngSubmit)="onRegister()">
              <ion-item class="input-item">
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="credentials.username" name="username" type="email" required></ion-input>
              </ion-item>
              <ion-item class="input-item">
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="credentials.password" name="password" type="password" required></ion-input>
              </ion-item>
              <ion-item class="input-item">
                <ion-label position="floating">Confirm password</ion-label>
                <ion-input [(ngModel)]="credentials.confirmPassword" name="confirmPassword" type="password" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox [(ngModel)]="credentials.agreeToTerms" name="agreeToTerms" slot="start" required></ion-checkbox>
                <ion-label>
                  I agree to the terms of service, privacy policy...
                </ion-label>
              </ion-item>
              <p class="terms-text">By checking this box, you confirm that you have read and accept our terms.</p>
              <ion-row class="button-row">
                <ion-col size="6">
                  <ion-button expand="full" class="signup-button" type="submit">Sign Up</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="full" color="light" (click)="goToLogin()">Log In</ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
